//? Dzięki tej klasie cała treść na naszej stronie będzie wyśrodkowana

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
//? Odgórny padding dla każdej z sekcji

.section-padding {
	padding: 8rem 4rem;
}
